[submodule "test-data-npm"]
	path = test-data-npm
	url = https://github.com/heremaps/oss-review-toolkit-test-data-npm.git
[submodule "commons-text"]
	path = commons-text
	url = https://github.com/apache/commons-text.git
